<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCDUNb8yGkr3Ljj4DpbEaz1qB5shE4RVvI</string>
	<key>GCM_SENDER_ID</key>
	<string>305490436655</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quizMaster</string>
	<key>PROJECT_ID</key>
	<string>quizapk-f55cb</string>
	<key>STORAGE_BUCKET</key>
	<string>quizapk-f55cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:305490436655:ios:788756db7247355ad99cda</string>
</dict>
</plist>